.container{
height: 50px;
display: flex;
align-items: center;
font-size: small;
justify-content: space-between;
} 
.socialicons{
    display: flex;
    align-items: center;
    gap: 10px;
}
.icons{
    cursor: pointer;

}
