.container{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    gap:30px
}
.form{
    display: flex;
    flex-direction: column;
    gap:30px;
    width: 400px;
}
.input{
    padding: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    color:#d3d3d3;
    font-size: 20px;
    font-weight: bold;;
    border:2px solid #d3d3d3;
}
.button{
    padding:20px 24px;
    border: none;
    background-color: #00B365;
    cursor: pointer;
    border-radius: 3px;
    color:white;
    width:100%;
    font-size: 16px;
    font-weight: 600;
}